header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1b;
  color: #e7e7e7;
  @media screen and (max-width: 576px) {
    p {
      display: none;
    }
    .contact {
      margin: 15px auto;
    }
  }
  @media screen and (max-width: 1024px) {
    span {
      display: none;
    }
    p,
    .contact {
      margin-right: 15px;
      margin-left: 15px;
    }
  }
  p {
    font-size: 36px;
  }
  a {
    color: #e7e7e7;
    text-decoration: none;
  }

  a:hover {
    color: #e7e7e7;
    text-decoration: none;
    cursor: pointer;
  }
}
.contact {
  display: flex;
  align-items: center;
  margin: 30px 0;
  a {
    margin-left: 10px;
  }
}

.mobileNum {
  font-size: 24px;
}
